<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName">
    <!-- 用户接口 -->
    <bean id="userClientService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${darren_back.serviceUrl}/userClientServiceRemote" />
        <property name="serviceInterface" value="com.darren.comm.client.user.service.UserClientService" />
        <property name="chunkedPost" value="false" />
        <property name="overloadEnabled" value="true" />
    </bean>
</beans>